@{ 
    ViewData["Title"] = "Forgot password confirmation"; 
}

<div class="container">
    <br />
    <h4 class="mb-3">@ViewData["Title"]</h4>
    <p>
        Please check your email to reset your password.
    </p>
</div>