@{ 
    ViewData["Title"] = "Register confirmation";
}

<div class="container">
    <br />
    <h4 class="mb-3">@ViewData["Title"]</h4>
    <p>
        Confirmation link was sent to your email. Please check it to complete your registration.
    </p>
</div>