@{ 
    ViewData["Title"] = "Profile";
}

<div class="container">
    <br />
    <h4 class="mb-3">@ViewData["Title"]</h4>
    <p>
        <a asp-action="ChangePassword">Change password</a>
    </p>
</div>
