@using Services.Dto
@model ProductDto

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Than you for posting your product review for @Model.Description.</p>
    <hr>
    <p class="mb-0">Your review has been posted.</p>
</div>
