<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main-stylesheet.css" />
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">
                            Welcome to the Store! We are online store that specializes in computer products.
                            On this website you will find everything computer related for reasonble price.
                            Our services are not only about providing quaility products but also about our attitude,
                            approach and the way we treat our clients.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        @*<partial name="_LoginPartial" />*@
                        @*@await Component.InvokeAsync("Login");*@
                        <vc:login />
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center">
                    <strong>Store</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer text-muted">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">&copy; 2021 - Store - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            <p class="mb-0">New to the Store? <a href="/">Visit the homepage</a> or read our <a href="#">getting started guide</a>.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
