@using WEB.ViewModels.HomeViewModels
@model NewCategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="container">
    <p class="h4 mt-4 mb-3">@ViewData["Title"]</p>
    <p class="h5 mb-4">Make changes to the root category.</p>
    <div style="max-width:450px">
        <form asp-action="EditRootCategory">
            @Html.HiddenFor(model => model.Category.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label">Parent Category</label>
                <select asp-for="Category.ParentCategoryId" class="form-select" asp-items="@(new SelectList(Model.ParentCategories,"Id","Name"))">
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Category.Name" class="form-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Description" class="form-label mt-2"></label>
                <textarea asp-for="Category.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.ImagePath" class="form-label mt-2"></label>
                <input asp-for="Category.ImagePath" class="form-control" />
                <span asp-validation-for="Category.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group mt-5 text-end">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a class="btn btn-secondary mx-2" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
